<h1>Editing find table</h1>

<%= render "form", find_table: @find_table %>

<br>

<div>
  <%= link_to "Show this find table", @find_table %> |
  <%= link_to "Back to find tables", find_tables_path %>
</div>
